.typemain{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* flex-direction: row; */

}
.typecontainer{
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 20rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 8px 30px #252525;

}

.typeform{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 70%;
    height: 70%;
}
.typeform input{
    width: 100%;
    height: 30px;
}
.typeform textarea{
    width: 100%;
    height: 60px;
}
.btn_div{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.add_btn{
    height: 2rem;
    width: 8rem;
    border-radius: 12px;
    background-color: transparent;
}
.input_type{
    /* width: 100%; */
    /* height: 5rem; */
    border-radius: 6px;
    border: 0.5px solid black;
}
.input_text{
    border-radius: 6px;
}

@media only screen and (max-width: 767px) {
    .typecontainer{
        width: 18rem;
        height: 18rem;
    }
    .typecontainer h1{
        font-size: 16px;
    }
    .typeform{
        font-size: 14px;
    }
    .typeform input{
    
        height: 30px;
    }
    .typeform textarea{
        
        height: 50px;
    }
    .typecontainer{
        top: 50%;

    }
    
}