.card1{
    width: 15rem;
    height: 25rem;
    border: 1px solid black;
    border-radius: 12px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

}
.card_img{
    width: 100%;
    height: 350px;
    /* background-color: aquamarine; */
    border-radius: 11px 11px 0 0;
}
.card_p{
    font-size: 18px;
    text-transform: uppercase;
    color: black;
}
.card1 .del_icon{
    position:absolute;
    text-align: center;
    /* vertical-align: middle; */
    background-color: white;
    color: red;
    border-radius: 5px;
    /* left: 10rem; */
    margin-top: 1.5rem;
    /* margin-left: 10%; */
    height: 2.2rem;
    width: 2.2rem;
    padding: 3px;
    cursor: pointer;
    /* font-size: 10px; */
}
.del_div{
    position: absolute;
    text-align: end;
    margin-left: 8%;
    /* display: ; */
}
.del_i{
    background-color: transparent;
    display: none;
}
@media only screen and (max-width: 767px) {
    .card1{
        width: 12rem;
        height: 18rem;
    
    }
    .card_img{
        width: 100%;
        height: 16rem;
    }
    .card_p{
        font-size: 14px;
    }
    .card1 .del_icon{
            height: 1.8rem;
            width: 1.8rem;
    }

.del_div{
    margin-left: 14%;
}
}