.uploadBox{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    height: 200px;
    width: 400px;
}
.uploadContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.uploadMain{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}