*,body,h1,h2,h3,h4,h5,h6,ul,a{
    margin: 0%;
    padding: 0%;
    
    
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fcfcfc;
}
